.show-case-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    );
    z-index: 2;
  }

  .content-show-case {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: transform .5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: url(/about/about-showcase.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      z-index: 3;
      transition: transform 0.5s ease-in-out;
    }

    &:hover::before {
      transform: scale(1.05);
    }

    .header {
      position: absolute;
      top: 50rem;
      left: 3rem;
      z-index: 3;

      & > span {
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: var(--primary-t80);
        margin-bottom: 1.5rem;

        & > span {
          display: inline-block;
          width: 4rem;
          height: 0.2rem;
          background-color: var(--primary-t80);
        }
      }

      & > h1 {
        font-size: 4.7rem;
        font-style: italic;
        font-weight: var(--fw-extrabold);
        letter-spacing: -2px;
        text-transform: uppercase;
        line-height: 5rem;
        color: white;
      }

      & > h1:nth-child(3) {
        color: var(--primary-t80);
      }
    }
  }
  .ceo-quote {
    display: flex;
    gap: 4rem;
    padding-inline: 4rem;
    padding-block: 4rem;

    .image {
      flex: 1;
      max-width: 50rem;
      height: auto;

      img {
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.1)
        );
        z-index: 1;
      }
    }

    .quote {
      flex: 1;
      display: flex;
      flex-direction: column;
      z-index: 3;

      & > p {
        font-family: var(--font-number);
        font-size: 4.5rem;
        font-weight: var(--fw-black);
        color: var(--primary-t80);
        margin-bottom: 1.5rem;
      }

      & > h1 {
        width: 90%;
        font-style: italic;
        font-size: 5rem;
        font-weight: var(--fw-black);
        letter-spacing: -1px;
        word-spacing: -5px;
        color: white;
      }

      & > span {
        display: inline-block;
        width: 10rem;
        height: 0.1rem;
        background-color: var(--primary-t80);
        margin-block: 2.5rem;
      }

      & > .quote-text {
        width: 80%;
        font-size: 2.2rem;
        font-weight: var(--fw-thin);
        line-height: 3rem;
        letter-spacing: 1px;
      }

      & > .btns {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        & > svg {
          border: 1px solid var(--secondary-t30);
          width: 5rem;
          height: 5rem;
          font-size: 2rem;
          padding-block: 1rem;
          padding-inline: 1rem;
          color: white;
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover {
            border-color: var(--primary-t90);
          }
        }
      }
    }
  }
}
