.services-container {
  width: 100%;
  padding-block: 8rem;
  background-color: var(--base-t10);

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: column;

      & > h1 {
        font-size: 4.5rem;
        font-weight: var(--fw-extrabold);
        font-style: italic;
        color: white;
        text-transform: uppercase;
      }

      .par-line {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: .5rem;

        & > p {
          flex: 1;
          font-size: 1.8rem;
          font-weight: var(--fw-thin);
          letter-spacing: .5px;
          line-height: 2.8rem;
          color: var(--primary-t90);
        }

        & > span {
          display: inline-block;
          flex: 1;
          width: 100%;
          height: .1rem;
          background-color: var(--secondary-t50);
        }
      }
    }

    .services {
      margin-top: 4rem;
      padding-block: 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--base-t5);
        border: 1px solid var(--secondary-t30);
        padding-inline: 5rem;
        padding-block: 5rem;
        transition: all .3s ease-in-out;

        &:hover {
          border-color: var(--primary-t80);
          transform: scale(1.02);
        }

        & > img {
          width: 10rem;
          height: 10rem;
        }

        & > h2 {
          margin-top: 1rem;
          font-size: 2rem;
          font-weight: var(--fw-semibold);
          font-style: italic;
          text-transform: uppercase;
          letter-spacing: -1px;
          color: white;
        }

        & > p {
          font-size: 1.8rem;
          font-weight: var(--fw-regular);
          letter-spacing: .5px;
          color: var(--primary-t90);
        }

        & > ul {
          margin-left: 2rem;
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          gap: .5rem;

          li {
            font-family: var(--font-label);
            font-size: 1.6rem;
            text-decoration: none;
            color: var(--primary-t80);
          }
        }
      }
    }
  }
}