.user-feedback {
  width: 100%;
  background-color: var(--neutral-t10);
  padding-block: 8rem;

  .container {
    width: 100%;

    .content-feedback {
      width: 100%;
      display: flex;
      align-items: center;

      .header {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > span {
          margin-bottom: 2.2rem;
          font-size: 1.8rem;
          letter-spacing: -0.1px;
          color: var(--primary-t80);
          text-transform: uppercase;
        }

        & > h1 {
          font-size: 4.5rem;
          font-weight: var(--fw-extrabold);
          font-style: italic;
          color: var(--secondary-t90);
          text-transform: uppercase;
        }

        & > span:nth-child(4) {
          margin-top: 2.5rem;
          width: 10rem;
          height: .7rem;
          background-color: var(--primary-t80);
        }
      }

      .feedback {
        flex: 4;
        padding-inline: 6rem;
        padding-block: 6rem;
        background-color: var(--surface-variant);
        border-left: 6px solid var(--primary-t80);

        & > p {
          font-size: 3rem;
          font-weight: var(--fw-bold);
          letter-spacing: .5px;
          line-height: 4.5rem;
          font-style: italic;
          color: var(--secondary-t90);
        }

        .user {
          margin-top: 2rem;
          display: flex;
          align-items: center;
          gap: 1.5rem;

          & > p {
            background-color: var(--primary-t80);
            padding-inline: 1.5rem;
            padding-block: 1.5rem;
            font-size: 2rem;
            font-weight: var(--fw-semibold);
            letter-spacing: -.5px;
            text-transform: uppercase;
          }

          .name-prof {
            display: flex;
            flex-direction: column;

            & > span {
              font-size: 1.5rem;
              font-weight: var(--fw-semibold);
              text-transform: uppercase;
              color: var(--secondary-t90);
            }

            & > span:nth-child(2) {
              color: var(--primary-t80);
            }
          }
        }
      }
    }
  }
}
